@import "../css/normalize.scss";

.keyboard-wrapper {
    position: relative;
    margin: 0 auto;
    padding-bottom: 3%;
    width: 1000px;
    background-color : #81c9b2;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato';
}

.keyboard-input {
    position: relative;
    margin-top: 3%;
    height: 200px;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    min-height: 200px;
    max-height: 250px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    margin-top: 15%;
    width: 80%;
    padding: 5px 0;
    background: #637874;
    border: 1px solid #202625;
    border-radius: 5px;
    font-size: 1.05em;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &-key {
        position: relative;
        height: 40px;
        width: 40px;
        margin: 5px;
        border-radius: 4px;
        border: 1px solid #202625;
        color: rgb(44, 39, 33);
        background: #548b82;
        outline: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        transition: .1s ease;

        &__wide {
            width: 94px;
        }

        &__extra-wide {
            width: 200px;
        }

        &:hover {
            background-color: #367e73;
        }

        //добавлять актив при нажатии на клавиатууру и при нажатии мышью
        &__active {
            background-color: #2fb29c;
            border-radius: 50px;
            &:hover {
                background-color: #2fb29c;
            }
        }
        
    }
}

